#header {
    background: url('picture.png') center -80px / cover no-repeat;
    color: white;
    padding-top: 85px;
}
.custom-img-small {
    height: 350px;
}
.card {
height: 650px;
}

.card-text {
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 150px;
}

.card-text-expanded {
  overflow: visible;
  max-height: unset;
}
