<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Activities</title>
    <link rel="stylesheet" href="{{url_for('static', filename='activity.css')}}">
    {% extends "res.html" %}
</head>
<body>
{% block content %}
<section id="header" class="jumbotron text-center">
    <h1 class="display-3">Events</h1>
    <p class="lead">List of events</p>
</section>
<section id="gallery">
    <div class="container">
        <div class="row">
            {% for event in events %}
            <div class="col-lg-4 mb-4">
                <div class="card" style="height: 850px;">
                    <img class="custom-img-small" src="{{ url_for('static', filename='images/' + event.photo) }}"
                         alt="Event Photo">
                    <div class="card-body">
                        <h5 class="card-title">{{ event.name }}</h5>
                        <p class="card-text">- Description: {{ event.description }}</p>
                        <a href="#" class="btn btn-outline-info" style="border-color: purple; color:purple;">Read
                            More</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
</body>
</html>