<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hell</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='form.css')}}">
    {% extends "res.html" %}
</head>
{% block content %}
<body class="profile-page">
<div class="page-header header-filter" data-parallax="true"><p class="fade-in"
                                                               style="text-align:center;z-index: 1000;font-size:100px;margin: 0 auto; float: none;margin-top: -250px;color: #9932CC;">
    The Restaurant at the
    <br> end of the Universe</p></div>
<div class="main main-raised">
    <div class="profile-content">
        <div class="container">
            <div class="description text-center">
                <p>The Restaurant at the End of the Universe is one of the most extraordinary ventures in the entire
                    history of catering.

                    It is built on the fragmented remains of an eventually ruined planet which is (wioll haven be)
                    enclosed in a vast time bubble and projected forward in time to the precise moment of the End of the
                    Universe.

                    This is, many would say, impossible. </p>
            </div>
            <div class="description text-center" style="margin-top:4em; color:#BA55D3 ">
                <h3> We provide 42 services</h3>
            </div>
            <div class="description text-center" style="margin-top:2em; margin-bottom:2em;color:black; ">
                <h3> Services</h3>
            </div>
            <div class="card-deck">
                <div class="card">
                    <a href="{{ url_for('main.walking') }}" style="text-decoration: none; color: inherit;">
                        <img class="card-img-top" src="{{ url_for('main.static', filename='images/walks.jpg') }}"
                             alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Space walking </h5>
                            <p class="card-text"></p>
                            <p class="card-text"><small class="text-muted">See</small></p>
                        </div>
                    </a>
                </div>
                <div class="card">
                    <a href="{{ url_for('main.reserve') }}" style="text-decoration: none; color: inherit;">
                        <img class="card-img-top" src="{{ url_for('main.static', filename='images/room1.jpeg') }}"
                             alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Apartments</h5>
                            <p class="card-text"></p>
                            <p class="card-text"><small class="text-muted">See</small></p>
                        </div>
                    </a>
                </div>
                <div class="card">
                    <a href="{{ url_for('main.restaurant') }}" style="text-decoration: none; color: inherit;">
                        <img class="card-img-top" src="{{ url_for('main.static', filename='/cafe2.jpeg') }}"
                             alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Restaurant</h5>
                            <p class="card-text"></p>
                            <p class="card-text"><small class="text-muted">See</small></p>
                        </div>
                    </a>
                </div>
                <div class="card">
                    <a href="{{ url_for('main.bar') }}" style="text-decoration: none; color: inherit;">
                        <img class="card-img-top" src="{{ url_for('main.static', filename='/cafe1.jpeg') }}"
                             alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Bar</h5>
                            <p class="card-text"></p>
                            <p class="card-text"><small class="text-muted">See</small></p>
                        </div>
                    </a>
                </div>
                <div class="card">
                    <a href="{{ url_for('main.activity') }}" style="text-decoration: none; color: inherit;">
                        <img class="card-img-top" src="{{ url_for('main.static', filename='images/card.jpeg') }}"
                             alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Activities</h5>
                            <p class="card-text"></p>
                            <p class="card-text"><small class="text-muted">See</small></p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer text-center ">
    <p>Made with <a href="https://en.wikipedia.org/wiki/Douglas_Adams" target="_blank"> Douglas Adams</a> by Creative
        Tim</p>
</footer>
</body>
{% endblock %}
</html>