<!DOCTYPE html>
<html>
<head>
    <title>Restaurant</title>
    <link rel="stylesheet" href="{{url_for('static', filename='activity.css')}}">
    {% extends "res.html" %}
</head>
<body>
{% block content %}
<div class="modal fade" id="descriptionModal" tabindex="-1" aria-labelledby="descriptionModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="descriptionModalLabel">Описание</h5>
            </div>
            <div class="modal-body">
                <p id="description-text"></p>
            </div>
        </div>
    </div>
</div>
<section id="header" class="jumbotron text-center">
    <h1 class="display-3">Dishes</h1>
    <p class="lead">List of dishes</p>
</section>
<section id="gallery">
    <div class="container">
        <div class="row">
            {% for dish in dishes %}
            <div class="col-lg-4 mb-4">
                <div class="card">
                    <img class="custom-img-small" src="{{ url_for('static', filename='images/' + dish.photo) }}"
                         alt="Event Photo">
                    <div class="card-body">
                        <h5 class="card-title">{{ dish.name }}</h5>
                        <p class="card-text" id="{{ dish.id }}"> {{ dish.description }}</p>
                        <button class="btn btn-outline-info" style="border-color: purple; color:purple;"
                                onclick="toggleDescription('{{ dish.id }}')" data-bs-toggle="modal"
                                data-bs-target="#descriptionModal">Read more
                        </button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<script>
function toggleDescription(id) {
  const descriptionText = document.getElementById(id).innerText;
document.getElementById('description-text').innerText = descriptionText;
  $('#descriptionModal').modal('show');
}

</script>
{% endblock %}
</body>
</html>
