<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bar</title>
    {% extends "res.html" %}
    {% block content %}
    <link href="{{url_for('static', filename='activity.css')}}" rel="stylesheet">
</head>
<body>
<section class="jumbotron text-center" id="header">
    <h1 class="display-3">BAR</h1>
    <p class="lead">Cocktail card</p>
</section>
<section id="gallery">
    <div class="container">
        <div class="row">
            {% for cocktail in cocktails %}
            <div class="col-lg-4 mb-4">
                <div class="card">
                    <img alt="" class="card-img-top" src="static/images/{{cocktail.id}}.png"/>
                    <div class="card-body">
                        <h5 class="card-title">{{ cocktail.name }}</h5>
                        <p class="card-text">- Ingredients: {{ cocktail.ingredients }}</p>
                        <p class="card-text">- Volume: {{ cocktail.volume }}</p>
                        <a class="btn btn-outline-success btn-sm" href="#">Read More</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
</body>
</html>