<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Браузер</title>
    <link rel="stylesheet" href="static/activity.css">
    <link rel="stylesheet" href="static/style.css">


    <link rel="stylesheet" href="static/form.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons">
</head>
<body>


<nav class="navbar navbar-color-on-scroll navbar-transparent    fixed-top  navbar-expand-lg "  color-on-scroll="100"  id="sectionsNav">
        <div class="container">
            <div class="navbar-translate">
                <a class="navbar-brand" href="/" target="_blank" style="font-size: 1.75rem">The Restaurant at the
                    <br>end of the Universe </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>

            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto" >
                    <li class=" nav-item">
                      <a href="#studio" class="dropdown-toggle nav-link"  style="scroll-behavior: smooth;" aria-expanded="false">
                          <i class="material-icons">apps</i> Apartments
                      </a>
                    </li>
                    <li class=" nav-item">
                      <a href="/menu" class="dropdown-toggle nav-link"  aria-expanded="false">
                          <i class="material-icons">layers</i> Restaurant
                      </a>
                    </li>
                    <li class="nav-item">
                        <a href="/bar" class="dropdown-toggle nav-link" aria-expanded="false">
                            <i class="material-icons">favorite</i>
                            Bar
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/activity" class="dropdown-toggle nav-link" aria-expanded="false">
                            <i class="material-icons">flight_takeoff</i>
                            Events
                        </a>
                    </li>
                     <li class="nav-item">
                        <a href="/req" class="dropdown-toggle nav-link" aria-expanded="false">
                            <i class="material-icons">comment</i>
                            Feedback
                        </a>
                    </li>
      				<li class="nav-item">
      					<a type="button" id="button1" class="dropdown-toggle nav-link" aria-expanded="false" type="submit" >
      						 Contact us
                        </a>
      				</li>
                    <li class="nav-item">
                        {% if current_user.is_authenticated %}
      					<a href="{{ url_for('auth.logout') }}"  class="dropdown-toggle nav-link" aria-expanded="false" >
                            <i class="material-icons">input</i>Sign Out
                        </a>
                        {% else %}
                        <a href="{{ url_for('auth.login') }}" class="dropdown-toggle nav-link" aria-expanded="false" >
      						 <i class="material-icons">login</i> Sign In
                        </a>
                        {% endif %}
      				</li>
                </ul>
            </div>
        </div>
    </nav>


{% block content %}

{% endblock %}
</body>
</html>